<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body id="page1">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: banner"></div>
<div class="main">
    <section id="content">
        <article class="col1">
            <div class="pad_1">
                <h2>Book a flight</h2>
                <form class="form_1" th:action="@{/bookings/add-booking}" method="post"
                      th:object="${booking}">
                    <div class="wrapper">
                        Leaving From:<br/>
                        <select class="dropdown-select" th:field="*{placeOfDeparture.id}">
                            <option th:each="place : ${places}" th:value="${place.id}" th:text="|${place.cityName}, ${place.countryName}|"></option>
                        </select>
                    </div>
                    <div class="wrapper">
                        Going To:<br/>
                        <select class="dropdown-select" th:field="*{destination.id}">
                            <option th:each="place : ${places}" th:value="${place.id}" th:text="|${place.cityName}, ${place.countryName}|"></option>
                        </select>
                    </div>
                    <div class="wrapper">
                        Departure Date and Time:
                        <div class="bg">
                            <input type="text" class="input input1" placeholder="Example: 05/03/2017 23:12" th:field="*{departureDate}"/>
                        </div>
                    </div>
                    <div class="wrapper">
                        Return Date and Time:
                        <div class="bg">
                            <input type="text" class="input input1" placeholder="Example: 05/03/2017 23:12" th:field="*{returnDate}"/>
                        </div>
                    </div>
                    <div class="wrapper">
                        Users:<br/>
                        <select class="dropdown-select" th:field="*{user.id}">
                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                        </select>
                    </div>
                    <div class="wrapper">
                        <p>Passenger(s):</p>
                        <div class="bg left">
                            <input type="text" class="input input2" placeholder="# passengers" th:field="*{numberOfPassengers}"/>
                        </div>
                    </div>
                    <div class="wrapper">
                        <input type="submit" class="button2" value="GO!"/>
                    </div>
                </form>
            </div>
        </article>
        <article th:replace="layout :: site-description"></article>
    </section>
</div>
<div th:replace="layout :: flash"></div>
<div th:replace="layout :: footer"></div>
</body>
</html>