<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body id="page1">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: banner"></div>
<div class="main">
    <section id="content">
        <article class="col1">
            <div class="pad_1">
                <!-- Flight Planner form -->
                <form th:replace="layout :: booking-form"></form>
            </div>
        </article>
        <article class="col2 pad_left1">
            <h2>Welcome to our Website!</h2>
            <p class="color1">Air Lines was established in 1954 and developed together with the Romanian aviation. Air Lines performs its activity under the Ministry of Transportation and has been a member of SkyTeam Alliance as of June 25th, 2010.
                The company operates on more than 50 own destinations as well as destinations operated by its code share partners.
                The Romanian flag carrier owns one of the youngest fleet in Europe, consisting of 23 aircraft, and has been a member of the International Air Transport Association (IATA) since 1993 and of the Association of European Airlines (AEA) since 2000.
            </p>
            <p class="color1">
                Air Lines is a modern and future-oriented company which is environmentally friendly by implementing innovative procedures to reduce carbon dioxide emissions.
                On June 25th, 2010, Air Lines joined SkyTeam, one of the global alliances providing customers from member airlines access to an extensive global network with more destinations, more frequencies and more connections. Joining SkyTeam loyalty program, the passengers can earn and redeem miles by travelling with any member airline.
            </p>
        </article>
    </section>
</div>
<div th:replace="layout :: flash"></div>
<div th:replace="layout :: footer"></div>
</body>
</html>