<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<head th:fragment="head">
  <title>AirLines</title>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-1.4.2.js}" ></script>
  <script type="text/javascript" th:src="@{/js/cufon-yui.js}"></script>
  <script type="text/javascript" th:src="@{/js/cufon-replace.js}"></script>
  <script type="text/javascript" th:src="@{/js/Myriad_Pro_italic_600.font.js}"></script>
  <script type="text/javascript" th:src="@{/js/Myriad_Pro_italic_400.font.js}"></script>
  <script type="text/javascript" th:src="@{/js/Myriad_Pro_400.font.js}"></script>
  <script type="text/javascript" th:src="@{/js/ie6_script_other.js}"></script>
  <script type="text/javascript" th:src="@{/js/html5.js}"></script>
</head>
<body id="page1">
<!-- Navigation bar -->
<div class="body1" th:fragment="nav">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a th:href="@{/}" id="logo">AirLines</a><span id="slogan">International Travel</span></h1>
        <div class="right">
          <nav>
            <ul id="menu">
              <li th:classappend="${#httpServletRequest.servletPath.equals('/') ? 'menu-active' : ''}"><a th:href="@{/}">Book a flight</a></li>
              <li th:classappend="${#httpServletRequest.servletPath.equals('/places') ? 'menu-active' : ''}"><a th:href="@{/places}">Places</a></li>
              <li th:classappend="${#httpServletRequest.servletPath.equals('/users') ? 'menu-active' : ''}"><a th:href="@{/users}">Users</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
<!-- Banner -->
<div class="main" th:fragment="banner">
  <div id="banner">
    <div class="text1">
      COMFORT<span>Guaranteed</span>
      <p>Making the sky the best place on Earth.</p>
    </div>
  </div>
</div>
<div class="main">
  <section id="content">
    <article class="col1">
      <div class="pad_1">
      </div>
    </article>

    <article class="col2 pad_left1" th:fragment="site-description">
      <h2>Welcome to our Website!</h2>
      <p class="color1">Air Lines was established in 1954 and developed together with the Romanian aviation.
        Air Lines performs its activity under the Ministry of Transportation and has been a member of SkyTeam Alliance as
        of June 25th, 2010.
        The company operates on more than 50 own destinations as well as destinations operated by its code
        share partners.
        The Romanian flag carrier owns one of the youngest fleet in Europe, consisting of 23 aircraft, and
        has been a member of the International Air Transport Association (IATA) since 1993 and of the Association of
        European Airlines (AEA) since 2000.
      </p>
      <p class="color1">
        Air Lines is a modern and future-oriented company which is environmentally friendly by implementing
        innovative procedures to reduce carbon dioxide emissions.
        On June 25th, 2010, Air Lines joined SkyTeam, one of the global alliances providing customers from
        member airlines access to an extensive global network with more destinations, more frequencies and more
        connections. Joining SkyTeam loyalty program, the passengers can earn and redeem miles by travelling with any
        member airline.
      </p>
    </article>
  </section>
</div>
<div th:fragment="flash" th:if="${flash != null}" class="container">
  <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
</div>
<div class="body2" th:fragment="footer">
  <div class="main">
    <footer>
      <div class="footerlink">
        <div style="clear:both;"></div>
      </div>
    </footer>
  </div>
</div>
<script type="text/javascript" th:fragment="bottom-script"> Cufon.now(); </script>
</body>
</html>