<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body id="page1">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: banner"></div>
<div class="main">
    <section id="content">
        <article class="col1">
            <div class="pad_1">
                <!-- Flight Planner form -->
                <form th:replace="layout :: booking-form"></form>
            </div>
        </article>
        <article class="col2 pad_left1">
            <h2 th:text="|${trip.placeOfDeparture} - ${trip.destination}|"></h2>

            <form th:action="@{|/trips/${trip.id}/edit|}" method="post" th:object="${trip}">
                <input type="hidden" th:field="*{id}"/>
                <label>Place of departure name: </label><br/>
                <input type="text" th:field="*{placeOfDeparture}" class="standard-input-style"/><br/><br/>
                <label>Destination name: </label><br/>
                <input type="text" th:field="*{destination}" class="standard-input-style"/><br/><br/>
                <label>Price: </label><br/>
                <input type="text" th:field="*{price}" class="standard-input-style"/><br/><br/>
                <input type="submit" value="Edit" class="button2"/>
            </form>

            <form th:action="@{|/trips/${trip.id}/delete|}" method="post">
                <input type="submit" value="Delete" class="button2"/>
            </form><br/><br/>
        </article>
    </section>
</div>
<div th:replace="layout :: flash"></div>
<div th:replace="layout :: footer"></div>
</body>
</html>