<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body id="page1">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: banner"></div>
<div class="main">
    <section id="content">
        <article class="col1">
            <div class="pad_1">
                <!-- Flight Planner form -->
                <form th:replace="layout :: booking-form"></form>
            </div>
        </article>
        <article class="col2 pad_left1">
            <h2>Available trips</h2>
            <div>
                <ul>
                    <li th:each="trip : ${trips}">
                        <a th:href="@{|/trips/${trip.id}/detail|}"><h3 th:text="|${trip.placeOfDeparture} - ${trip.destination}|"></h3></a>
                    </li>
                </ul>
                <form th:action="@{/trips/add-trip}" method="post" th:object="${trip}">
                    <h2>Add new trip</h2>
                    <div class="wrapper">
                        <div class="bg">
                            <label>Place of departure name: </label><br/>
                            <input type="text" class="standard-input-style" th:field="*{placeOfDeparture}"/>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="bg">
                            <label>Destination name: </label><br/>
                            <input type="text" class="standard-input-style" th:field="*{destination}"/>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="bg">
                            <label>Price: </label><br/>
                            <input type="text" class="standard-input-style" th:field="*{price}"/>
                        </div>
                    </div>

                    <div class="wrapper">
                        <input type="submit" class="button2" value="Add"/>
                    </div>
                </form>
                <br/>
            </div>
        </article>
    </section>
</div>
<div th:replace="layout :: flash"></div>
<div th:replace="layout :: footer"></div>
</body>
</html>